.container {
  margin-top: 10px;
}
.Nav.Item {
  margin-right: 70px;
  padding-left: 30px;
}
.fa-light {
  width: 50px;
  height: 10px;
}
.d-flex {
  font-size: 14px;
}
.fa-light {
  font-size: 24px;
}
