.pos {
  margin-left: 10%;
}
.introduction {
  font-size: 58px;
}
.story {
  margin-top: 5%;
  font-size: 16px;
}
.image_s {
  margin-top: 5%;
}
.play_video {
  margin-left: 10px;
  font-size: 14px;
}
.vector_image {
  width: 60%;
  height: 60%;
}
.taco {
  position: absolute;
  top: 25%;
  left: 60%;
}
.vector1 {
  position: absolute;
  top: 17%;
  left: 53%;
}
.vector {
  position: absolute;
  top: 18%;
  left: 52%;
}
.Frame_1 {
  position: absolute;
  top: 17%;
  left: 35%;
}
.Frame_2 {
  position: absolute;
  top: 75%;
  left: 80%;
}
.Frame_3 {
  position: absolute;
  top: 10%;
  left: 60%;
}
.down {
  top: 90%;
  left: 10%;
}
.page-layout {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 80px 0;
}
.page-layout {
  position: relative;
  .radient {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #ff7800 0%,
      rgba(255, 120, 0, 0) 100%
    );
    opacity: 0.3;
    filter: blur(40px);
    height: 40vw;
    width: 40vw;
    top: 0%;
    right: 0%;
  }
  .scroll_down {
    top: 90%;
    left: 10%;
    .scroll_icon {
      background-image: url("./../../public/images/down.png");
      width: 44px;
      height: 44px;
    }
  }
}
.banner {
  .taco {
    width: 368px;
    .img-wrap {
      aspect-ratio: 1 / 1;
    }
  }
}
