.position-absolute.top-13.start-13 {
  width: 35%;
}
.introduction {
  font-size: 58px;
}
.story {
  font-size: 16px;
}
.d-flex.align-items-center {
  margin-top: 5px;
}
.play_video {
  margin-left: 10px;
  font-size: 14px;
}
.taco {
  position: absolute;
  top: 20%;
  left: 60%;
}
.vector_image {
  width: 100%;
  height: 100%;
}
.vector1 {
  position: absolute;
  top: 12%;
  left: 53%;
}
.vector {
  position: absolute;
  top: 13%;
  left: 52%;
}
