.position-absolute.top-13.start-13 {
  width: 35%;
}
.introduction {
  font-size: 58px;
}
.story {
  margin-top: 5%;
  font-size: 16px;
}
.image_s {
  margin-top: 5%;
}
.play_video {
  margin-left: 10px;
  font-size: 14px;
}
.taco {
  position: absolute;
  top: 25%;
  left: 60%;
}
.vector1 {
  position: absolute;
  top: 17%;
  left: 53%;
}
.vector {
  position: absolute;
  top: 18%;
  left: 52%;
}
.Frame_1 {
  position: absolute;
  top: 17%;
  left: 35%;
}
.Frame_2 {
  position: absolute;
  top: 75%;
  left: 80%;
}
.Frame_3 {
  position: absolute;
  top: 10%;
  left: 60%;
}
.down {
  top: 90%;
  left: 10%;
}
.page-layout {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 80px 0;
}
.radient {
  position: absolute;
  top: 70%;
  left: 10%;
}
.banner {
  .taco {
    width: 368px;
    .img-wrap {
      aspect-ratio: 1 / 1;
    }
  }
}
